
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Auction System</title>
    <link rel="stylesheet" href="D:\Projects\online_auction_system\static\css">
</head>
<body>
    <header>
        <h1>Online Auction System</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/add/">Add Item</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
        